.kaufman__triangle {
    background-image: url("../../../images/kaufman-triangle.svg");
    background-size: cover;
    width: 887px;
    height: 887px;
    position: absolute;
    top: 0;
    right: -124px;
    z-index: -1;
}