.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2F2;
  position: relative;
  display: flex;
  align-items: center;
}
.header__title {
  width: 760px;
  margin-left: 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;

}
.header__subtitle {
  /* Width is estimated. It was not given */
  width: 380px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header__link {
  /* Not sure how to add the arrow for "learn more" link. */
  color: #2F80ED;
}
.header__main-illustration {
  height: 608px;
  width: 756px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2F80ED;
}



.logo {
  width: 154px;
  height: 31px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}




.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}
.two-columns__brief {
  width: 175px;
  margin: 0;
  color: #2F80ED;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.two-columns__main-text {
  width: 80%;
}
.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.two-columns_space-bottom {
  margin-bottom: 30px;
}



.digits {
  margin: 100px 0 100px 0;   /* changed from margin: 100px auto; */
}
.section-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.section-subtitle_space-above {
  margin-top: 20px;
}
.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 1100px;
  margin: 0 auto;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.table__text_space-above {
  margin-top: 20px;
}






.feynman {
  background-color: #F2F2F2;
  position: relative;
  height: 790px;
  padding-top: 100px;
  z-index: -2;
}
.feynman__title {
  width: 648px;
  margin: auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle {
  margin: auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__subtitle_margin {
  margin-top: 70px;
}
.feynman__link {
  color: #2F80ED;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}





.kaufman {
  background-color: #000000;
  color: white;
  position: relative;
  z-index: -2;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}
.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  top: 0;
  right: -124px;
  z-index: -1;
}



.footer {
  background-color: #000000;
  color: white;
  display: flex;
}
.footer__columns {
  display: flex;
  min-height: 350px;
  flex-basis: 711px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.footer__columns-left{
  margin-left: auto;
}
.footer__columns-right {
  margin-right: auto;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.logo_place_footer {
  width: 183px;
  height: 35px;
}
.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__list {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin-top: 20px;
}
.column-link {
  text-decoration: none;
  color: white;
}
.column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.footer__column_content_about {
  margin: 0 auto;
}
.footer__social-icons {
  width: 16px;
  height: 16px;
}