.khan__buy-link {
    color: #2F80ED;
    text-decoration: none;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    transition: opacity .5s;
}
.khan__buy-link:hover {
    opacity: .3;
}